.donation-card {
  position: relative;
  border-radius: 20px;
  width: 30%;
  display: flex;
  min-height: 400px;
  box-shadow: 0px 0px 18px var(--accent-shadow);
  background-color: white;
}

.container-donation-image-card {
  width: 50%;
  margin: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-donation-image-card img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.container-description-donation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  width: 100%;
  height: 20%;
}

.container-description-donation p {
  color: var(--default-font-color);
  font-size: 1em;
  margin-left: 5%;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 40%;
}

.content {
  width: 100%;
  max-width: 100%;
  margin: 0 -5px;
}

.pricing-table .head {
  border-bottom: 1px solid #eee;
  transition: all 0.5s ease;
}

.pricing-table:hover .head {
  border-bottom: 1px solid #8e2de2;
}

.pricing-table .head .title {
  color: var(--accent);
  font-size: larger;
  margin-bottom: 20px;
  font-weight: bold;
}

.title-donation {
  color: var(--accent);
  font-size: larger;
  margin-bottom: 20px;
  font-weight: bold;
}

.pricing-table .content .price {
  background: linear-gradient(to right, #8e2de2 0%, var(--accent) 100%);
  width: 90px;
  height: 90px;
  margin: auto;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ccc;
  transition: all 0.5s ease;
}

.pricing-table:hover .content .price {
  transform: scale(1.1);
}

.pricing-table .content .price h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.pricing-table .content ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: left;
}

.pricing-table .content ul li {
  margin: 20px 0px;
  font-size: 14px;
  color: #555;
}

.pricing-table .content .sign-up {
  background: linear-gradient(to right, #8e2de2 0%, var(--accent) 100%);
  border-radius: 40px;
  font-weight: 500;
  align-items: center;
  padding: 1px 1px;
  white-space: wrap;
  transition: all 0.5s ease;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
}

.pricing-table .btn {
  color: #fff;
  padding: 14px 40px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  border: none;
  font-size: 14px;
  width: 98%;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  margin: 2px;
  z-index: 9999;
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
}

.pricing-table .btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.pricing-table .btn.bordered {
  z-index: 50;
  color: #333;
}
.pricing-table:hover .btn.bordered {
  cursor: pointer;
}

.pricing-table .btn.bordered:after {
  background: #fff none repeat scroll 0 0;
  border-radius: var(--default-button-border-radius);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  width: 100%;
  z-index: -1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.pricing-table:hover .btn.bordered:after {
  opacity: 0;
  transform: scale(0);
}

.container-adoption-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.container-adoption-modal-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--default-font-color);
}

.container-adoption-modal-button {
  width: 50%;
  height: 40px;
  font-size: 1.2em;
  color: var(--default-button-font-color);
  background-color: var(--default-button-bg-color);
  border-radius: var(--default-button-border-radius);
  border: none;
  cursor: pointer;
}

.container-adoption-modal-button:hover {
  background-color: var(--default-button-hover-bg-color);
}

.total-modal-donation-total {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.total-modal-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.total-modal-donation input {
  width: 80%;
  height: 35px;
  padding-left: 15px;
  outline: none;
  border: 1px solid var(--default-border-color);
  margin-bottom: 1rem;
}

.total-modal-donation p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--default-font-color);
  line-height: 1.6;
}

.donation-form-button {
  width: 50%;
  height: 40px;
  font-size: 1.2em;
  color: var(--default-button-font-color);
  background-color: var(--default-button-bg-color);
  border-radius: var(--default-button-border-radius);
  border: none;
  cursor: pointer;
}

.donation-form-button:hover {
  background-color: var(--default-button-hover-bg-color);
}

@media (max-width: 1024px) {
  .donation-card {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .donation-card {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .donation-card {
    width: 80%;
  }
}

/*************/
