.footer {
  display: flex;
  
  flex-direction: column;

  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #f0e6ff;
}

.footer-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0e6ff;
  width: 30%;
  height: 10vh;
  color: var(--default-font-color);
}

.footer-logo-and-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer-logo {
  margin-left: 40%;
  margin-right: 1rem;
}

.footer-image img {
  width: 100px;
  height: auto;
}

.footer-social-icons p {
  font-size: 14px;
  color: var(--default-footer-font-color);
  text-align: left;
  margin: 0;
  align-self: flex-start;
  margin-left: 20px;
}

.footer-social-icons ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: -25px;
}

.footer-social-icons li {
  margin: 0.5rem;
  font-size: 20px;
}

.footer-social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.footer-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 3%;
  flex-wrap: wrap;
}

.footer-links ul li {
  display: flex;
  position: relative;
  font-size: 14px;
  color: var(--default-footer-font-color);
  font-weight: 500;
  cursor: pointer;
  margin: 0 20px 15px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

.footer-links li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--default-border-color);
  transition: 0.3s;
}

.footer-links li:hover::before {
  width: 100%;
}

.footer-copyright {
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
  color: var(--default-border-color);

}

.instagram-icon {
  color: #e1306c;
}
.twitter-icon {
  color: #1b2125;
}
.whatsapp-icon {
  color: #25d366;
}
.github-icon {
  color: #333;
}

@media (max-width: 1160px) {
  .footer-main {
    width: 40%;
  }

  .footer-links {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .footer-main {
    width: 50%;
  }

  .footer-links {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .footer-main {
    height: auto;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-logo-and-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }

  .footer-image img {
    width: 80px;
  }

  .footer-social-icons {
    align-items: flex-end;
    margin-right: 25px;
  }

  .footer-links {
    display: none;
  }
}

@media (max-width: 425px) {
  .footer-image img {
    width: 70px;
  }
}
