.backoffice-pets-page-container {
  min-width: 80%;
  position: absolute;
  top: 20%;
}

.backoffice-buttons {
  display: flex;
  justify-content: end;
  margin-right: 12%;
  margin-bottom: 1rem;
}

.btn-add-pet {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #74bc76;
  color: white;
  border: none;
  border-radius: var(--default-button-border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-add-pet a {
  text-decoration: none;
}

.btn-add-pet:hover {
  background-color: #45a049;
}
