.backoffice-pets-page-container {
  width: 80%;
}

.backoffice-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.btn-add-pet {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-add-pet a {
  text-decoration: none;
}

.btn-add-pet:hover {
  background-color: #45a049;
}
