.back-office-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f8ff;
}

.backoffice-content {
  display: flex;
  flex: 1;
}

.backoffice-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page table */

.backoffice-container {
  width: 90%;
  height: 80%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

.backoffice-container-table {
  width: 100vw;
  height: 60vh;
}
