.one-shelter-social-media-buttons {

  width: 80%;
  height: 50%;
  display: flex;
  text-align: center;
}

.one-shelter-social-media-buttons p {
  font-weight: bold;
  text-align: center;
  text-align: center;
}
