.container-shelter-description {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.container-shelter-map {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.one-shelter-map {
  position: relative;
  display: flex;
  width: 62%;
  height: 100%;
}

.one-shelter-map-map {
  position: relative;
  width: 60%;
  height: 100%;

  overflow: hidden;
}

.container-one-shelter-social-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.container-one-shelter-social-media {
  width: 40%;
  height: 100%;
}

@media (max-width: 1024px) {
  .container-shelter-description {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  .container-shelter-map {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .one-shelter-map {
    position: relative;
    display: flex;
    width: 62%;
    height: 100%;
  }

  .one-shelter-map-map {
    position: relative;
    width: 60%;
    height: 100%;

    overflow: hidden;
  }

  .container-one-shelter-social-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .container-one-shelter-social-media {
    width: 40%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container-shelter-description {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  .container-shelter-map {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .one-shelter-map {
    position: relative;
    display: flex;
    width: 62%;
    height: 100%;
  }

  .one-shelter-map-map {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }

  .container-one-shelter-social-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .container-one-shelter-social-media {
    width: 40%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .container-shelter-description {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  .container-shelter-map {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .one-shelter-map {
    position: relative;
    display: flex;
    width: 62%;
    height: 100%;
  }

  .one-shelter-map-map {
    position: relative;
    width: 60%;
    height: 100%;

    overflow: hidden;
  }

  .container-one-shelter-social-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .container-one-shelter-social-media {
    width: 40%;
    height: 100%;
  }
}
