.backoffice-adoption-requests-container{
    width: 80%;
}

.backoffice-adoption-requests-container .table-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row ul li {
    gap: 15px;
}

.backoffice-adoption-requests-container button{
    display: flex;
    align-items: center;
    padding: 7px 8px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.backoffice-adoption-requests-container button:hover{
    text-decoration: underline;
}