.pet-card {
  width: 250px;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 2px 5px grey;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.pet-card:hover {
  transform: translateY(-5px);
}

.pet-card-container-photo{
  width: 95%;
  height: 15vh;
  border: 1px solid blue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.pet-info {
  padding: 15px;
}

.pet-info h3 {
  margin: 0 0 10px 0;
  color: var(--default--text-color);
}

.pet-info p {
  margin: 5px 0;
  color: var(--default--text-color);
}

.pet-description {
  font-size: 14px;
  margin-bottom: 15px;
}

.pet-card-adopt-button {
  background-color: var(--default-button-bg-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adopt-button:hover {
  background-color: var(--default-button-bg-color-hover);
}
