.Total {
  background-color: red;
  width: 100%;
  height: 100px;
  color: white;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.Testemunha {
  background-color: yellow;
  width: 100%;
  height: 25vh;
  color: rgb(147, 55, 55);
}
