.shelterGallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.ShelterGallery-banner {
  width: 80%;
  height: 200px;
}

.shelterGallery-content {
  width: 80%;
  position: relative;
  margin-top: 20px;
}

.shelterGallery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.shelterGallery-sort {
  position: absolute;
  top: 7px;
  right: 0;
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.shelterGallery-sort button {
  border-radius: 5px;
  height: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.shelterGallery-sort select,
.shelterGallery-sort button {
  padding: 5px;
  font-size: 16px;
}