.shelterGallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.ShelterGallery-banner {
  width: 80%;
  height: 200px;
}
.shelterGallery-cards {
  width: 80%;
  display: flex;
  margin-top: 4%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1 0 auto;
}
